.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-spaceAround {
    justify-content: space-around;
}

.canvas-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

canvas {
    position: absolute;
}

.canvas-wraper {
    position: relative;
}

canvas {
    position: absolute;
    bottom: 300;
    left: 0;
    touch-action: none;
}

.js-tools button {
    background-color: #8e44ad;
    color: #ecf0f1;
    border-radius: 20px;
    min-height: 50px;
    min-width: 100px;
}

.js-tools button:hover {
    background-color: #9b59b6;
    cursor: pointer;
}

input {
    width: 100px;
}

@media only screen and(max-width: 450px) {
    .js-tools button {
        height: 30px;
        width: 50px;
    }
}

.popup {
    display: none;
}